.catalog {
  max-width: 944px;
  margin: 0 auto;

  &__inner {
    display: grid;
    grid-gap: 50px 48px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, $card-width);
  }
}
